.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-button-width: 52px;
  --primary-color: rgba(254, 44, 85, 1);
  width: 100%;
  height: var(--default-layout-header-min);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
}

.inner {
  width: var(--default-layout-width);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
}
.search {
  position: relative;
  display: flex;
  width: 361px;
  height: var(--search-height);
  padding-left: 16px;
  background: rgba(22, 24, 35, 0.06);
  border-radius: var(--search-border-radius);
  border: 1.5px solid transparent;
  input {
    flex: 1;
    color: var(--black);
    height: 100%;
    font-size: 1.6rem;
    background-color: transparent;
    caret-color: var(--primary-color); // Đổi màu thanh search
  }

  input:not(:placeholder-shown) ~ .search-btn {
    // Đổi màu button khi search
    color: rgba(22, 24, 35, 0.8);
  }
  &::after {
    content: "";
    background: rgba(22, 24, 35, 0.12);
    position: absolute;
    height: calc(var(--search-height) - var(--search-top-spacer) * 2);
    width: 1px;
    top: var(--search-top-spacer);
    right: var(--search-button-width);
  }
  //  focus border
  &:focus-within {
    border: 1.5px solid rgba(22, 24, 35, 0.2);
  }
}

.clear {
}
.clear,
.loading {
  position: absolute;
  right: var(--search-button-width);
  top: 50%;
  transform: translateY(-45%);
  color: rgba(22, 24, 35, 0.34);
  font-size: 1.6rem;
  margin-right: 10px;
}
.search-btn {
  width: var(--search-button-width);
  height: 100%;
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);
  font-size: 2rem;
  color: rgba(22, 24, 35, 0.34);
  &:hover {
    cursor: pointer;
    background: rgba(22, 24, 35, 0.03);
  }
  &:active {
    background: rgba(22, 24, 35, 0.06);
  }
}
